.logo {
  line-height: 1.1;
  font-size: 2rem;
  font-family: "NeueMachina";

  @media (max-width: 900px) {
    font-size: 6vw;
    margin-top: 35px;
  }

  span {
    display: block;
  }
}

.date {
  color: var(--color-kale);
}