.logoWrap {
  line-height: 1.1;
  font-size: 1.4rem;
  font-family: "NeueMachina";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  margin-top: var(--spacing-8);
}

.logo {
  margin-bottom: var(--spacing-6);
  width: 450px;

  @media (max-width: 650px) {
    padding: 0 var(--spacing-8);
  }
}

.heroCandy {
  position: absolute;
  z-index: -5;
  top: 0;
  max-width: 96%;
}